<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
        Honeywell Data Collection Service (DCS) ships with the CK65 firmware. The app
        declares this so it is eligible to receive the DCS "Data Intent" broadcasts that
        carry decoded barcode data. No Honeywell SDK dependency is required.
    -->
    <uses-permission android:name="com.honeywell.decode.permission.DECODE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />


    <application
        android:name=".ScantronApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.Scantron">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Scantron"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
